<!--
  <div style="text-align:center; margin-bottom:30px">
    <img src="/static/img/polar_bear.png" width="800px">
  </div>
-->

<div class="card mb-4" id="welcome-card-anonymous">
  <div class="card-body">
    <h5 class="card-title" style="margin-bottom: 0rem;">Welcome to the Hangout
      <svg class="bi bi-compass" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="transform: translate(0px,-2px);">
        <path fill-rule="evenodd" d="M8 15.016a6.5 6.5 0 1 0 0-13 6.5 6.5 0 0 0 0 13zm0 1a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15z"/>
        <path d="M6 1a1 1 0 0 1 1-1h2a1 1 0 0 1 0 2H7a1 1 0 0 1-1-1zm.94 6.44l4.95-2.83-2.83 4.95-4.95 2.83 2.83-4.95z"/>
      </svg>
    </h5>

    <p class="card-text" style="margin-top: .75rem;">
      Polar Bear Hangout is a free educational platform to acquire and practice <a href="https://en.wikipedia.org/wiki/Scouting">Scouting</a> based skills.
    </p>

    <p class="card-text" style="margin-top: .75rem;">
      Polar Bear Hangout was developed in response to the <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">COVID-19 pandemic</a> as a supplemental resource for Scout troops and the <a href="https://fneexplorers.com/">Federation of North-American Explorers</a>.
    </p>

  </div>
</div>

<div class="card text-center" id="anonymous">
  <div class="card-body">
    <p class="card-text">Sign in to save your progress.</p>
    <a href="/registeruser" class="btn btn-primary">Create an Account</a>
  </div>
</div>

<br>

<div class="card-columns">
  <div class="card">
    <img src="/static/img/ham_operator_1.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Morse Transmission Challenge</h5>
      <p class="card-text">How many messages can you transmit?</p>
      <a href="/morsetransmission" class="btn btn-primary">Jump to Game</a>
    </div>
  </div>

  <div class="card" >
    <img src="/static/img/enigma_machine.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Cryptograms</h5>
      <p class="card-text">Can you break the code?</p>
      <a href="/cryptograms" class="btn btn-primary">Jump to Game</a>
    </div>
  </div>

  <div class="card">
    <img src="/static/img/listening.jpg" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Morse Reception Trainer</h5>
      <p class="card-text">Train your ear to listen to morse code.</p>
      <a href="/morsereception" class="btn btn-primary">Jump to Trainer</a>
    </div>
  </div>
</div>
