/*Interface*/
#cryptogram-buttons {
    text-align: center;
}

#cryptogram-buttons > button {
    width: 150px;
    margin: 0px 5px 0px 5px;
}

/*Containers*/
#work-area {
    text-align: center;
    /*font-size: 20px;*/
}

.word-container {
    margin-right: 40px;
    display: inline-block;
}

.char-container {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 100px;
    text-align: center;
    margin-right:5px;
}

.symbol-container {
    width: 10px;
}

.char-container > div {
    position: absolute;
    width: inherit;
}

.top {
    height: 50%;
    left: 0%;
    top: 0%;
}

.bottom {
    height: 50%;
    left: 0%;
    top: 50%;
}

input.plain-letter {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
}

.char-container > .bar {
    transform: translate(0%,-50%);
    top: 50%;
    height: 1px;
    background-color:black;
}

span.cipher-char {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}